
<div class="jumbotron">
    <h1>Security Sandboxing</h1>
    <p class="lead">Welcome to our program! The framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">MODULE 1 CRYPTOGRAPHY</div>
        <div class="panel-body">
        Objective: The objective of this module is to learn how to crack Windows password hashes with Cain &amp; Abel software. You will learn two different cracking methods in this module (Brute-Force and Dictionary). Cracking passwords without consent is illegal and can lead to serious legal repercussions. The idea behind learning these cracking methods is to instill the importance of sound password creation.
        </div>
       <br /> <a class="btn btn-default" href="https://s3-us-west-1.amazonaws.com/rdp-modules/module1.rdp">DOWNLOAD&raquo;</a></p>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            MODULE 2 PGP EMAIL SECURITY</div>
        <div class="panel-body">
        Objective: The objective of this module is to learn how to secure your emails with PGP encryption using Thunderbird. Email is an inherently insecure form of communication over the  internet. PGP or “Pretty Good Privacy” is an encryption method created in the 1980’s, and when combined with an email client like Thunderbird creates a much more secure form of communication.
        </div>
        <br /><a class="btn btn-default" href="https://s3-us-west-1.amazonaws.com/rdp-modules/module2.rdp">DOWNLOAD&raquo;</a></p>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            MODULE 3 CROSS-SITE SCRIPTING
        </div>
        <div class="panel-body">
        Objective: The objective of this module is to learn about a hacking method called cross-sitescripting. Cross-site scripting is a type of attack that takes advantage of vulnerabilities in webapplication code and input validation. When inputs are not properly validated it is possible toinject client-side scripts into web pages. In this module you will learn how to exploit the lack ofinput validation in an attempt to learn how to prevent it in any web applications you create orwork on.</div>
        <br /><a class="btn btn-default" href="https://s3-us-west-1.amazonaws.com/rdp-modules/module3.rdp">DOWNLOAD&raquo;</a></p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        MODULE 4 SOCIAL ENGINEERING</div>
        <div class="panel-body">
         Objective: The objective of this module is to learn about a social engineering method calledphishing. Phishing is when E-Mail, texts, or other forms of contact are sent to a person in orderto trick them into divulging personal information. The most common version of phishing takesthe form of an E-Mail asking for login credentials, personal data, or money. In this module youwill use a software called the Social Engineering Toolkit to craft your own clever phishing E-Mailin an attempt to learn how to avoid this common social engineering trick in the future.</p><p><strong>Prerequisites:</strong>A throw-away Gmail account or the Gmail account created for Module 2.
         <br /><a class="btn btn-default" href="https://s3-us-west-1.amazonaws.com/rdp-modules/module4.rdp">DOWNLOAD&raquo;</a></p>
        </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            MODULE 5 VIRUSES</div>
        <div class="panel-body">
            Objective: The objective of this module is to learn how to create viruses through the use ofbatch files. Batch files are simply files that run commands on a Windows machine. It uses thecommand line interpreter (cmd) to execute the commands. The purpose of doing this module isto learn the destructive nature of viruses in the hopes that you take greater precautions in yourantivirus tactics.
            <br /><a class="btn btn-default" href="https://s3-us-west-1.amazonaws.com/rdp-modules/module5.rdp">DOWNLOAD&raquo;</a></p>
        </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        Stress Testing</div>
        <div class="panel-body">
        Module 0
        <br /><a class="btn btn-default" href="https://s3-us-west-1.amazonaws.com/rdp-modules/module6.rdp">Stress Test&raquo;</a></p>
        </div>
        </div>
</div>
