<div class="jumbotron">
    <h1>Security Sandboxing</h1>
    <p class="lead">Welcome to our program! The framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>To begin we must download and launch our first modular instance for our tutorial. Simply click the link below to begin.</p>
        <p><a class="btn btn-default" href="https://s3-us-west-1.amazonaws.com/rdp-modules/module1.rdp">Download ME &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Module List</h2>
        <p>To see a breakdown and overview of our modular list simply follow the link below! You can select from different topics and modulues here!</p>
        <p><a class="btn btn-default" href="/Module/Modules">Modular List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Break IT</h2>
        <p>You can easily reconstruct one of our instaces in the event of user error. To learn more about our application simply follow the link below!</p>
        <p><a class="btn btn-default" href="http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/UsingAlarmActions.html">Learn more &raquo;</a></p>
    </div>
</div>
